@import '~@react-md/theme/dist/color-palette';

$rmd-theme-primary: $rmd-amber-a-400;
$rmd-theme-secondary: $rmd-light-blue-400;
$rmd-theme-light: false;
$rmd-theme-dark-background: $rmd-grey-900;
$rmd-theme-dark-surface: $rmd-grey-600;

$rmd-theme-dark-elevation: 'prefers-color-scheme';
$rmd-utils-auto-dense: false;
